{#
	--- Example Usage ---

	{% embed "_components/_content-w-sidebar" %}
		{% block content %}
			<p>CONTENT</p>
		{% endblock %}

		{% block sidebar %}
			<p>SIDEBAR</p>
		{% endblock %}
	{% endembed %}
#}

<div class="space-y-16 lg:flex lg:space-y-0 lg:space-x-32">
	<div>
		{% block content %}{% endblock %}
	</div>
	<div class="flex-shrink-0 lg:w-88 xl:w-106">
		{% block sidebar %}{% endblock %}
	</div>
</div>
